![soccer database relationship structure](https://www.w3resource.com/w3r_images/soccer-database.png)

In [3]:
USE Football_DB

1\. Write a query in SQL to find the number of venues for EURO cup 2016. (soccer\_venue)

In [16]:
SELECT COUNT(*) AS NoOfVenues
FROM soccer_venue

NoOfVenues
10

2\. Write a query in SQL to find the number countries participated in the EURO cup 2016. (player\_mast)

In [25]:
SELECT COUNT(DISTINCT team_id) AS Countries_Participating
FROM player_mast;

Countries_Participating
24

3\. Write a query in SQL to find the number goals scored in EURO cup 2016 within normal play schedule.(goal\_details)

In [26]:
SELECT COUNT(*) AS Goals_in_Normal_Play
FROM goal_details
WHERE goal_schedule = 'NT';

Goals_in_Normal_Play
97

4\. Write a query in SQL to find the number of matches ended with a result. (match\_mast)

In [27]:
SELECT COUNT(*) AS NoOfResult
FROM match_mast
WHERE results = 'WIN';

NoOfResult
40

5\. Write a query in SQL to find the number of matches ended with draws. (match\_mast)

In [28]:
SELECT COUNT(*) AS Draws
FROM match_mast
WHERE results = 'DRAW';

Draws
11

6\. Write a query in SQL to find the date when did Football EURO cup 2016 begin.(match\_mast)

In [31]:
SELECT play_date as First_Match
FROM match_mast
WHERE match_no = 1;

First_Match
2016-06-11 00:00:00

7\. Write a query in SQL to find the number of self-goals scored in EURO cup 2016.( goal\_details)

In [33]:
SELECT COUNT(*) AS Own_Goals
FROM goal_details
WHERE goal_type = 'O';

Own_Goals
3

8\. Write a query in SQL to count the number of matches ended with a results in group stage. (match\_mast)

In [5]:
SELECT COUNT(*) AS GS_Results
FROM match_mast
WHERE results = 'WIN' AND play_stage = 'G';

GS_Results
25

9\. Write a query in SQL to find the number of matches got a result by penalty shootout. (penalty\_shootout)

In [10]:
SELECT COUNT(DISTINCT match_no) AS Result_by_PS
FROM penalty_shootout;

Result_by_PS
3

10\. Write a query in SQL to find the number of matches were decided on penalties in the Round of 16. (match\_mast)

In [11]:
SELECT COUNT(*) AS Round16_Penalties
FROM match_mast
WHERE play_stage = 'R' AND decided_by = 'P';

Round16_Penalties
1

## Subqueries

1\. Write a query in SQL to find the teams played the first match of EURO cup 2016.Â  ( match\_details, soccer\_country)

In [25]:
SELECT md.match_no AS Match_Number, sc.country_name AS Country_Name
FROM match_details md, soccer_country sc
WHERE md.team_id = sc.country_id AND md.match_no = 1;

Match_Number,Country_Name
1,France
1,Romania

2\. Write a query in SQL to find the winner of EURO cup 2016. (soccer\_country, match\_details)

In [28]:
SELECT sc.country_name AS Winner
FROM soccer_country sc, match_details md
WHERE sc.country_id = md.team_id AND md.play_stage = 'F' AND md.win_lose = 'W';

/* 
OR
SELECT country_name as Team 
FROM soccer_country 
WHERE country_id in (SELECT team_id 
                     FROM match_details 
                     WHERE play_stage='F' AND win_lose='W'); */

Winner
Portugal

3\. Write a query in SQL to find the match with match no, play stage, goal scored, and the audence which was the heighest audence match. (match\_mast)

In [31]:
SELECT match_no, play_stage, goal_score, audence
FROM match_mast
WHERE audence = (SELECT MAX(audence)
                  FROM match_mast);

match_no,play_stage,goal_score,audence
48,Q,05-Feb,76833

4\. Write a query in SQL to find the match no in which Germany played against Poland(match\_details, soccer\_country)

In [36]:
SELECT match_no
FROM match_details
WHERE team_id IN (SELECT country_id
                  FROM soccer_country
                  WHERE country_name = 'Germany')
OR team_id=(SELECT country_id 
            FROM soccer_country 
            WHERE country_name='Poland') 
GROUP BY match_no 
HAVING COUNT(DISTINCT team_id)=2;

/* OR
SELECT match_no 
FROM match_details md, soccer_country sc
WHERE md.team_id = sc.country_id AND country_name IN ('Germany','Poland')
GROUP BY match_no
HAVING COUNT(*)=2; */

match_no
18

5\. Write a query in SQL to find the match no, play stage, date of match, number of gole scored, and the result of the match where Portugal played against Hungary. (match\_mast, match\_details, soccer\_country)

In [53]:
SELECT match_no, play_stage, play_date, results, goal_score
FROM match_mast
WHERE match_no IN(SELECT match_no 
                  FROM match_details 
                  WHERE team_id=(SELECT country_id 
                                 FROM soccer_country 
                                 WHERE country_name='Portugal') OR team_id=(SELECT country_id 
                                                                            FROM soccer_country
                                                                            WHERE country_name='Hungary') 
GROUP BY match_no 
HAVING COUNT(DISTINCT team_id)=2);

match_no,play_stage,play_date,results,goal_score
34,G,2016-06-22 00:00:00,DRAW,03-Mar