## Movie\_DB

![Categories of Sql Commands](https://f4n3x6c5.stackpathcdn.com/UploadFile/BlogImages/09252014061246AM/command%20types%20in%20SQL%20DataBase.jpg)

In [ ]:
CREATE DATABASE Movie_DB;

In [ ]:
USE Movie_DB;

In [ ]:
DROP TABLE IF EXISTS Movie_Table;

CREATE TABLE

In [ ]:
CREATE TABLE Movie_Table (
    movie_id INT PRIMARY KEY IDENTITY(1,1),
    movie_name VARCHAR(50),
    genre VARCHAR(15),
    release_date DATE,
    director VARCHAR(20),
    writer VARCHAR(20),
    actor VARCHAR(20),
    movie_language VARCHAR(20),
    official_website VARCHAR(100),
    synopsis VARCHAR(200)
);

INSERT INTO

In [ ]:
INSERT INTO Movie_Table (
    movie_name, genre, release_date, director, writer, actor, movie_language, official_website, synopsis
) VALUES 
('The Shawshank Redemption', 'Drama', '1994-09-23', 'Frank Darabont', 'Stephen King', 'Tim Robbins', 'English', 'http://www.warnerbros.com/movies/shawshank-redemption', 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.'),
('The Godfather', 'Crime', '1972-03-24', 'Francis Ford Coppola', 'Mario Puzo', 'Marlon Brando', 'English', 'http://www.thegodfather.com/', 'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.'),
('The Godfather: Part II', 'Crime', '1974-12-18', 'Francis Ford Coppola', 'Francis Ford Coppola', 'Al Pacino', 'English', 'http://www.thegodfather.com/', 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.'),
('The Dark Knight', 'Action', '2008-07-18', 'Christopher Nolan', 'Jonathan Nolan', 'Christian Bale', 'English', 'http://thedarkknight.warnerbros.com/', 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.'),
('12 Angry Men', 'Drama', '1957-04-10', 'Sidney Lumet', 'Reginald Rose', 'Henry Fonda', 'English', 'N/A', 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.'),
('Schindler''s List', 'Biography', '1993-02-04', 'Steven Spielberg', 'Thomas Keneally', 'Liam Neeson', 'English', 'http://www.schindlerslist.com/', 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.'),
('The Lord of the Rings: The Return of the King', 'Action', '2003-12-17', 'Peter Jackson', 'J.R.R. Tolkien', 'Elijah Wood', 'English', 'http://www.lordoftherings.net/', 'Gandalf and Aragorn lead the World of Men against Sauron''s army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.'),
('Pulp Fiction', 'Crime', '1994-10-14', 'Quentin Tarantino', 'Quentin Tarantino', 'John Travolta', 'English', 'N/A', 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption'),
('The Lord of the Rings: The Fellowship of the Ring', 'Action', '2001-12-19', 'Peter Jackson', 'J.R.R. Tolkien', 'Elijah Wood', 'English', 'N/A', 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.'),
('Forrest Gump', 'Drama', '1994-07-06', 'Robert Zemeckis', 'Winston Groom', 'Tom Hanks', 'English', 'N/A', 'The presidencies of Kennedy and Johnson, the events of Vietnam, Watergate, and other history unfold through the perspective of an Alabama man with an IQ of 75.'),
('Inception', 'Action', '2010-07-16', 'Christopher Nolan', 'Christopher Nolan', 'Leonardo DiCaprio', 'English', 'http://inceptionmovie.warnerbros.com/', 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.'),
('The Lord of the Rings: The Two Towers', 'Action', '2002-12-18', 'Peter Jackson', 'J.R.R. Tolkien', 'Elijah Wood', 'English', 'N/A', 'While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron''s new ally, Saruman, and his hordes of Isengard.'),
('Star Wars: Episode V - The Empire Strikes Back', 'Action', '1980-06-20', 'Irvin Kershner', 'George Lucas', 'Mark Hamill', 'English', 'http://www.starwars.com/films/star-wars-episode-v-the-empire-strikes-back', 'After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued by Darth Vader.'),
('The Matrix', 'Action', '1999-03-31', 'Lana Wachowski', 'Lilly Wachowski', 'Keanu Reeves', 'English', 'http://www.whatisthematrix.com/', 'A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.'),
('Goodfellas', 'Crime', '1990-09-19', 'Martin Scorsese', 'Nicholas Pileggi', 'Robert De Niro', 'English', 'N/A', 'The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.'),
('One Flew Over the Cuckoo''s Nest', 'Drama', '1975-11-19', 'Milos Forman', 'Ken Kesey', 'Jack Nicholson', 'English', 'N/A', 'A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.');

In [60]:
SELECT *
FROM Movie_Table

movie_id,movie_name,genre,release_date,director,writer,actor,movie_language,official_website,synopsis,rating_id
1,The Shawshank Redemption,Drama,1994-09-23,Frank Darabont,Stephen King,Tim Robbins,English,http://www.warnerbros.com/movies/shawshank-redemption,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",100
2,The Godfather,Crime,1972-03-24,Francis Ford Coppola,Mario Puzo,Marlon Brando,English,http://www.thegodfather.com/,The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.,110
3,The Godfather: Part II,Crime,1974-12-18,Francis Ford Coppola,Francis Ford Coppola,Al Pacino,English,http://www.thegodfather.com/,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",120
4,The Dark Knight,Action,2008-07-18,Christopher Nolan,Jonathan Nolan,Christian Bale,English,http://thedarkknight.warnerbros.com/,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",130
5,12 Angry Men,Drama,1957-04-10,Sidney Lumet,Reginald Rose,Henry Fonda,English,N/A,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,140
6,Schindler's List,Biography,1993-02-04,Steven Spielberg,Thomas Keneally,Liam Neeson,English,http://www.schindlerslist.com/,"In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.",150
7,The Lord of the Rings: The Return of the King,Action,2003-12-17,Peter Jackson,J.R.R. Tolkien,Elijah Wood,English,http://www.lordoftherings.net/,Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.,160
8,Pulp Fiction,Crime,1994-10-14,Quentin Tarantino,Quentin Tarantino,John Travolta,English,N/A,"The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption",170
9,The Lord of the Rings: The Fellowship of the Ring,Action,2001-12-19,Peter Jackson,J.R.R. Tolkien,Elijah Wood,English,N/A,A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.,180
10,Forrest Gump,Drama,1994-07-06,Robert Zemeckis,Winston Groom,Tom Hanks,English,N/A,"The presidencies of Kennedy and Johnson, the events of Vietnam, Watergate, and other history unfold through the perspective of an Alabama man with an IQ of 75.",190
11,Inception,Action,2010-07-16,Christopher Nolan,Christopher Nolan,Leonardo DiCaprio,English,http://inceptionmovie.warnerbros.com/,A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.,200
12,The Lord of the Rings: The Two Towers,Action,2002-12-18,Peter Jackson,J.R.R. Tolkien,Elijah Wood,English,N/A,"While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.",210
13,Star Wars: Episode V - The Empire Strikes Back,Action,1980-06-20,Irvin Kershner,George Lucas,Mark Hamill,English,http://www.starwars.com/films/star-wars-episode-v-the-empire-strikes-back,"After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued by Darth Vader.",220
14,The Matrix,Action,1999-03-31,Lana Wachowski,Lilly Wachowski,Keanu Reeves,English,http://www.whatisthematrix.com/,A computer hacker learns from mysterious rebels about the true nature of his reality and his role in the war against its controllers.,230
15,Goodfellas,Crime,1990-09-19,Martin Scorsese,Nicholas Pileggi,Robert De Niro,English,N/A,"The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.",240
16,One Flew Over the Cuckoo's Nest,Drama,1975-11-19,Milos Forman,Ken Kesey,Jack Nicholson,English,N/A,"A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.",250

ALTER TABLE

In [ ]:
ALTER TABLE Movie_Table
ADD rating DECIMAL (2,2);

In [ ]:
ALTER TABLE Movie_Table
ALTER COLUMN synopsis VARCHAR(250);

In [ ]:
ALTER TABLE Movie_Table
DROP COLUMN rating;

FOREIGN KEY

In [ ]:
DROP TABLE IF EXISTS Movie_Rating;

CREATE TABLE Movie_Rating(
    rating_id INT PRIMARY KEY IDENTITY (100,10),
    movie_id INT FOREIGN KEY REFERENCES Movie_Table (movie_id),
    rating DECIMAL (2,1)  
);

In [ ]:
INSERT INTO Movie_Rating
(movie_id, rating)
VALUES
    (1, 9.3),
    (2, 9.2),
    (3, 9.0),
    (4, 8.9),
    (5, 8.9),
    (6, 8.9),
    (7, 8.7),
    (8, 8.7),
    (9, 8.7),
    (10, 8.6),
    (11, 8.6),
    (12, 8.6),
    (13, 8.5),
    (14, 8.5),
    (15, 8.4),
    (16, 8.4);

In [32]:
SELECT *
FROM Movie_Rating;

rating_id,movie_id,rating
100,1,9.3
110,2,9.2
120,3,9.0
130,4,8.9
140,5,8.9
150,6,8.9
160,7,8.7
170,8,8.7
180,9,8.7
190,10,8.6
200,11,8.6
210,12,8.6
220,13,8.5
230,14,8.5
240,15,8.4
250,16,8.4

In [ ]:
ALTER TABLE Movie_Table 
ADD CONSTRAINT FK_Movie_Ratings_RatingID
FOREIGN KEY (rating_id) 
REFERENCES Movie_Rating(rating_id);

In [ ]:
UPDATE Movie_Table
SET rating_id = mr.rating_id
FROM Movie_Table mt
JOIN Movie_Rating mr ON mt.movie_id = mr.movie_id;

VALUE error

![]()

COLUMN error

![]()

MISSING SINGLE QUOTE error

![]()